*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Georgia, serif;
    background:#f8f6f1;
    color:#2d2d2d;
    line-height:1.8;
}

header{
    background:#1f3557;
    color:beige;
    text-align:center;
    padding:120px 20px;
}

header h1{
    margin:0;
    font-size:4rem;
    letter-spacing:4px;
    text-transform:uppercase;
}

header p{
    font-size:1.2rem;
    font-style:italic;
    opacity:.9;
}

nav{
    background:#14233b;
    position:sticky;
    top:0;
    z-index:100;
    text-align:center;
    padding:35px 20px;
}

nav a{
    display:block;
    color:beige;
    text-decoration:none;
    font-weight:bold;
    font-size:1.2rem;
    margin:35px 0;
}

nav a:hover{
    color:#d9b96e;
}

main{
    width:100%;
    max-width:1200px;
    margin:auto;
    padding:20px 10px;
}

.seccion{
    background:white;
    padding:70px 40px;
    margin-bottom:40px;
    border-radius:25px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

p{
    margin-bottom:25px;
}

h2{
    color:#1f3557;
    margin-top:0;
}

ul{
    padding-left:25px;
}

li{
    margin-bottom:12px;
}

.frase-final{
    text-align:center;
    font-style:italic;
    font-size:1.2rem;
    margin-top:50px;
}

.cta{
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}

.cta a{
    background:#1f3557;
    color:white;
    padding:22px 70px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
    font-size:1.3rem;
    display:inline-block;
    white-space:nowrap;
}

footer{
    background:#1f3557;
    color:beige;
    text-align:center;
    padding:25px;
    margin-top:40px;
}

@media (max-width:768px){

    header h1{
        font-size:2.8rem;
    }

    nav a{
        display:block;
        margin:25px 0;
    }

        }
